@model IEnumerable<RAS.Bootcamp.Katalog.MVC.NET.Models.Entities.Barang>
@{
    ViewData["Title"] = "Home Page";
}

<section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Product
        </h2>
      </div>
      <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            @item.IdPenjualNavigation.NamaToko
            <div class="img-box">
              <img src=@item.Url alt="">
            </div>
            <div class="detail-box">
              <span class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </span>
              <a href="">
                @item.Nama
              </a>
              <h6>
                Stok = @item.Stok
              </h6>
              <div class="price_box">
                <h6 class="price_heading">
                  <span>RP</span> @item.Harga
                </h6>
              </div>
            </div>
          </div>
          <div class="btn-box">
            <a asp-route-id = "@item.Id" asp-action = "MasukKeranjang">
            Masukkan ke keranjang
          </a>
          </div>
        </div>
        }
      </div>
      <div class="btn-box">
        <a href="">
          View All
        </a>
      </div>
    </div>
  </section>